
#cat-filter{
	
}


.overlay {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 80%;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.item-box:hover .overlay {
  height: 15%;
}

.overlay-cart {
  color: #ea205d;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
